{% extends 'template.html' %}
{% load static %}
{% block content2 %}

<section id="aboutus">
    <div class="font">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="aboutus-content">
                        <h1 class="text-center text-light GFG">Somos <span class="title">ReviewsGamer</span></h1>
                        <h4 class="text-center text-light GFG">Somos el espacio gamer que estabas necesitando</h4>
                        <p class="text-justify text-light GFG">Nuestro principal objetivo es brindarte un espacio para que puedas expresar libremente tu opinión sobre ese juego que tanto te gustó o tanto te desagradó.</p> 
                        <p class="text-justify text-light GFG">¿Jugaste un juego que te dejó loco? ¿Sentís que te estafaron con tu última viciada? ¡No te callés y que la comunidad te escuche!</p>
                        <p class="text-justify text-light GFG">Buscamos crear una comunidad basada en la libre opinión, a la que gamers como vos y como nosotros podamos recurrir para saber cuál va a ser el próximo juego que tenemos que jugar o evitar.</p>
                        <p class="text-justify text-light GFG">¿Te animás a dar el primer paso? ¡Dale! ¡Dejá tu review!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}