#reviews {
    width: 100%;
    padding: 20px;
    background: url(../../img/game2.jpg) no-repeat center;
    background-size: cover;
}

.card {
    margin-right: 20px;
    border: #011020;
}

.card-border {
    box-shadow: 7px 4px 6px -1px rgba(0,0,0,0.7);
    transition: box-shadow 0.3s ease-in-out;
}

.card-border:hover {
    box-shadow: 0 5px 25px 2px rgb(209, 2, 199);
}

.no-gutters {
    background-color: #011020;
    color: #ffffff;
}

.modal-content {
    padding: 20px;
    background-color: #011020;
}