.cover {
    width: 100%;
    background: url(../../img/game5.jpg) no-repeat center;
    background-size: cover;
}

.title-upload {
    font-weight: 900;
    text-shadow: 0 0 3px #00ff22, 0 0 5px #0000FF;
    color: #000000;
    padding-top: 25px;
}

.form-upload {
    padding: 20px 50px 0 50px;
}

